<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Produtos</title>
</head>
<body>
    <img src="/img/logo.png" alt="Logo Querido Cheiro" width="200">
    <h1>Cadastro de Produtos</h1>
    <!-- Formulario para cadastro de produtos -->
    <form action="/add" method="POST"> 
        <div>
            <label for="codigo">Código</label><br>
            <input type="number" name="codigo" id="codigo" placeholder="Código do Produto"><br><br>
        </div>
        <div>
            <label for="descricao">Descrição</label><br>
            <input type="text" name="descricao" id="descricao" placeholder="Descrição do Produto"><br><br>
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>
    <!-- Botao retorna para a tela inicial -->
    <button><a href="/index.html">Início</a></button>
</body>
<link rel="stylesheet" href="/style.css">
<script src="/models/produtos.js"></script>
</html>