{% extends "base.html" %}

{% block content %}
<section id="products">
    <div>
        <div>
            {% for product in data %}
            <div>
                <div id="content-products">
                    <span>Produto : </span> &nbsp; {{product.0}}
                    <span>Descrição :</span> &nbsp; {{product.1}}
                    <span>Quantidade :</span> &nbsp; {{product.3}}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock%}