/* layout */
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color: rgba(160, 225, 215, 0.742);
    text-align: center;
}
form {
    text-align: center;
}
input, button, select {
    padding: 10px;
    margin-bottom: 10px;
}
button {
    width: 150px;
    cursor: pointer;
}
.tabelaConsulta {
    background-color: white;
    margin: auto;
}
.botaotabela {
    width: 100px;
    height: 5px;
}