{% extends "base.html" %}

{% block content %}
<br><br>
<form action="/relatorio" method="GET">
    <h1>Consulta por produto</h1>
    <br>
    <label for="codigo">Informe o código do produto:</label><br>
    <input type="number" name="codigo" id="codigo" placeholder="Código">
    </select>
    <button href="/relatorio">Pesquisar</button>
</form>

<br><br>
<button><a href="/relatorio?codigo=*">Ver todos os produtos</a></button>
<br>
<br>
<button><a href="/">Página inicial</a></button>

{% endblock%}