{% extends "base.html" %}

{% block content %}
<h1>Entrada e Saída de produtos</h1>
<br>
<form method="POST">
    <div>
        <table border="1" class="tabelaConsulta">
            <tr>
                <td> &nbsp; &nbsp; &nbsp; Produto &nbsp; &nbsp; &nbsp;</td>
                <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Descrição &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; </td>
                <td> &nbsp; &nbsp; Quantidade &nbsp;  &nbsp;</td>
            </tr>
            <tr>
                <td>{{product.0}}</td>
                <td>{{product.1}}</td>
                <td>{{product.2}}</td>
            </tr>
        </table>
        <br><br>
    <div>
        <label for="quantidade">Quantidade(Entrada/Saida)</label><br>
        <input type="number" name="quantidade" id="quantidade" placeholder="Quantidade"><br><br>
    </div>
    <div>
        <button type="submit">Atualizar</button>
    </div>
</form>
<br><br><br><br>
<button><a href="/">Página inicial</a></button>
</form>

{% endblock %}