{% extends "base.html" %}

{% block content %}
<br><br>
<form action="/entradasaida" method="GET">
    <h1>Entrada e Saída de produtos</h1>
    <br>
    <input type="radio" id="opcao" name="opcao" value="entrada">
    <lable>Entrada</label>
    <input type="radio" id="opcao" name="opcao" value="saida">
    <lable>Saída</label><br><br>
    <label for="codigo">Código</label><br>
    <input type="number" name="codigo" id="codigo" placeholder="Código"><br>
    <button>Pesquisar</button>
</form>

<br><br><br><br>
<button><a href="/">Página inicial</a></button>

{% endblock%}